.content-box{
    width: 600px;
    height: 300px;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 5px 20px 10px;
   
    background-color:#cdf5bb;
    /* text-align: center; */
    border-top: 3px solid black;
    border-bottom: 5px dotted cyan;
    border-left: 3px dashed red;
    border-right: 3px dashed #9948FF;
    position: relative;
}
.content-box h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(90, 4, 4);
}
.content-box .close-button{
    position: absolute;
    top: -4px;
    right: -16px;
    border: 1px solid red;
    
    background-color: coral;;

}
.content-box .special-text{
    visibility: hidden;
    display: none;
}
.content-box h1{
    font-size: 3em;
    text-align: center;
}
.special-text{
    font-weight: bold;
}