/*Implement your solution below*/

.content-box{
    width: 600px;
    height: 300px;
    margin: 40px auto;
    background-color: #cdf5bb;
    padding: 20px 5px 20px 10px ;
    border-width: 5px;

    border-bottom-width: 5px;
    border-top: 3px solid black;
    border-right: 3px dashed purple;
    border-bottom: 5px dotted cyan;
    border-left: 3px dashed red;
    
    position: relative;

}
.content-box h1{
    color: rgb(90, 4, 4);
    text-align: center;

}
.content-box div.close-button{
    position: absolute;
    top: -4px;
    right:-16px;
    background-color: orange;
    border:1px solid red;
}

.special-text{
    font-weight: bold;
}
.content-box .special-text{
    display:none;
    visibility: hidden;
    
}
